:root {
  --background-color: #fff;
  --text-color: #333;
  --text-color-muted: #999;
  --border-color: #e5e5e5;
  --primary-color: #19ce5c;
  --primary-color-hover: #0dab47;
  --muted-color: #f5f5f5;
  --muted-color-hover: #caffde;
  /* sections */
  --topbar-background: rgba(255, 255, 255, 0.7);
  --topbar-blur: 10px;
  /* buttons */
  --primary-button-background:       var(--primary-color);
  --primary-button-background-hover: var(--primary-color-hover);
  --primary-button-text:       #fff;
  --primary-button-text-hover: #fff;
  --primary-button-border:        0px solid var(--primary-button-background);
  --primary-button-border-hover:  0px solid var(--primary-button-background-hover);

  --secondary-button-background:        rgba(0, 0, 0, 0.35);
  --secondary-button-background-hover:  rgba(0, 0, 0, 0.7);
  --secondary-button-text:        #fff;
  --secondary-button-text-hover:  #fff;
  --secondary-button-border:        0px solid var(--secondary-button-background);
  --secondary-button-border-hover:  0px solid var(--secondary-button-background);
  /* scrollbar */
  --scrollbar-track-color: #eee;
  --scrollbar-handle-color: #c7c7c7;
  --scrollbar-handle-active-color: #999;
}

html {
  background-color: var(--background-color);
}
body,
input {
  color: var(--text-color);
}
a, 
button{
  color: var(--text-color);
}
a:hover,
button:hover {
  color: var(--primary-color);
}
h1,h2,h3,h4,h5,h6{
  color: var(--text-color);
}
/*** leftbar ***/
.Root__nav-bar {
  background-color: var(--muted-color);
  border-right: 1px solid var(--border-color);
}
/* leftbar logo */
.Root__nav-bar .liKqY2CEkAKTwX2SfNCu {
  color: var(--primary-color);
}
/* leftbar main nav: Home, Search, Your Library */
ul.RSg3qFREWrqWCuUvDpJR li.eNs6P3JYpf2LScgTDHc6 a.link-subtle {
  color: var(--text-color);
}
ul.RSg3qFREWrqWCuUvDpJR li.eNs6P3JYpf2LScgTDHc6 a.link-subtle.moDRd9td0KtitPDzR7OJ,
ul.RSg3qFREWrqWCuUvDpJR li.eNs6P3JYpf2LScgTDHc6 a.link-subtle:hover{
  color: var(--primary-color);
}
ul.RSg3qFREWrqWCuUvDpJR li.eNs6P3JYpf2LScgTDHc6 a.link-subtle svg{
  color: inherit !important;
}
/* leftbar second nav: create playlist and liked songs */
.GlueDropTarget button.IPVjkkhh06nan7aZK7Bx,
.GlueDropTarget a.r9YzlaAPnM2LGK97GSfa{
  color: var(--text-color);
  opacity: 1;
}
.GlueDropTarget button.IPVjkkhh06nan7aZK7Bx:hover,
.GlueDropTarget a.r9YzlaAPnM2LGK97GSfa:hover,
.GlueDropTarget a.r9YzlaAPnM2LGK97GSfa.zDK1f3nL_R49a1mOvaO1{
  color: var(--primary-color);
}
.GlueDropTarget button.IPVjkkhh06nan7aZK7Bx span,
.GlueDropTarget a.r9YzlaAPnM2LGK97GSfa span{
  opacity: 1;
}
.GlueDropTarget button.IPVjkkhh06nan7aZK7Bx .q3ABXYJT9JZIzXOOtVuO,
.GlueDropTarget a.r9YzlaAPnM2LGK97GSfa .Nd_DeCpszONzyaLe5Wd1{
  background: transparent;
  color: inherit !important;
}
.GlueDropTarget a.r9YzlaAPnM2LGK97GSfa .bFQ9NOIn1bDs8tTH0ebQ{
  opacity: 1;
}
.GlueDropTarget button.IPVjkkhh06nan7aZK7Bx .q3ABXYJT9JZIzXOOtVuO svg,
.GlueDropTarget a.r9YzlaAPnM2LGK97GSfa .Nd_DeCpszONzyaLe5Wd1 svg{
  width: 18px;
  height: 18px;
}
/* leftbar hr */
.McwcCfBLSuXa5UDU1IMw hr.FBPrcmuqo3yv5UfWSRl5{
  background: transparent;
}
.McwcCfBLSuXa5UDU1IMw .Y8edH1Yjo4xrW_58czQj{
  background: linear-gradient(180deg, var(--border-color), transparent);
}
/* leftbar playlist */
.UCEIwrWMxnBFH4uoPybJ ul li a.utSR0FVkHnII_aL8TOcu{
  color: var(--text-color);
  cursor: pointer;
}
.UCEIwrWMxnBFH4uoPybJ ul li .AINMAUImkAYJd4ertQxy{
  cursor: pointer;
}
.UCEIwrWMxnBFH4uoPybJ ul li:hover a.utSR0FVkHnII_aL8TOcu,
.UCEIwrWMxnBFH4uoPybJ ul li a.utSR0FVkHnII_aL8TOcu:hover,
.UCEIwrWMxnBFH4uoPybJ ul li a.utSR0FVkHnII_aL8TOcu:focus,
.UCEIwrWMxnBFH4uoPybJ ul li a.utSR0FVkHnII_aL8TOcu.K8Rs3qAYirS8wJ1hR8gn{
  color: var(--primary-color);
}
/* leftbar install app */
.Foyk_HJx16yh22JYmQ56 .link-subtle {
  color: var(--text-color);
}
.Foyk_HJx16yh22JYmQ56 .link-subtle:hover {
  color: var(--primary-color);
}
/*** scrollbar ***/
.os-scrollbar{
  /* opacity: 1 !important; */
  /* visibility: visible; */
}
.os-scrollbar-track{
  background: var(--scrollbar-track-color) !important;
  border-radius: 10px;
}
.os-scrollbar-handle{
  background: var(--scrollbar-handle-color) !important;
}
.os-scrollbar-handle.active{
  background: var(--scrollbar-handle-active-color) !important;
}
.Root__main-view .os-scrollbar-vertical{
  top: 70px !important;
  bottom: 10px !important;
}

/*** top bar ***/
.Root__top-bar .T1xI1RTSFU7Wu94UuvE6{
  background-color: var(--topbar-background) !important;
  backdrop-filter: blur(var(--topbar-blur));
  border-bottom: 1px solid var(--border-color);
}
.Root__top-bar .T1xI1RTSFU7Wu94UuvE6 .EvIR4O7jOSbNmxtMdIQ0{
  background-color: transparent !important;
}
/* topbar profile and all dropdown menu */
ul.SboKmDrCTZng7t4EgNoM {
  background-color: var(--muted-color);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}
button.wC9sIed7pfp47wZbmU6m,
a.wC9sIed7pfp47wZbmU6m {
  color: var(--text-color);
  cursor: pointer;
}
button.wC9sIed7pfp47wZbmU6m:hover,
a.wC9sIed7pfp47wZbmU6m:hover {
  color: var(--primary-color);
}
.KdxlBanhDJjzmHfqhP0X{
  background-color: transparent !important;
}
.VgSbatGBB9XwTH2_dsxg .ql0zZd7giPXSnPg75NR0:disabled {
  opacity: .4;
}
/*** buttons ***/
/* primary buttons */
button.odcjv30UQnjaTv4sylc0{
  background-color: var(--primary-button-background);
  color: var(--primary-button-text);
  border: var(--primary-button-border);
  transition: 300ms;
}
button.odcjv30UQnjaTv4sylc0:hover,
button.odcjv30UQnjaTv4sylc0:focus,
button.odcjv30UQnjaTv4sylc0[data-context-menu-open=true] {
  background-color: var(--primary-button-background-hover);
  color: var(--primary-button-text-hover);
  border: var(--primary-button-border-hover);
}
/* secondary buttons */
button.fmWLzA,
.VgSbatGBB9XwTH2_dsxg button.ql0zZd7giPXSnPg75NR0{
  background-color: var(--secondary-button-background);
  color: var(--secondary-button-text);
  border: var(--secondary-button-border);
  transition: 200ms;
}
button.fmWLzA:hover,
.VgSbatGBB9XwTH2_dsxg button.ql0zZd7giPXSnPg75NR0:not(:disabled):hover,
.VgSbatGBB9XwTH2_dsxg button.ql0zZd7giPXSnPg75NR0:not(:disabled):focus {
  background-color: var(--secondary-button-background-hover);
  color: var(--secondary-button-text-hover);
  border: var(--secondary-button-border-hover);
  transition: 200ms;
}
/*** Main section ***/
.Root__main-view {}
/* main: first section */
.Root__main-view .HsbczDqu9qjcYr7EIdHR{
  background-image: linear-gradient(rgba(255, 255, 255, .7) 0, var(--muted-color-hover) 80%);
}
.onVWL7MW4PW9FyVajBAc .jOauWH{
  color: var(--text-color);
}
.Z35BWOA10YGn5uc9YgAp {
  background: rgba(0, 0, 0, 0.03) !important;
}
.Z35BWOA10YGn5uc9YgAp:hover{
  background: rgba(0, 0, 0, 0.1) !important;
}
/* music card */
.LunqxlFIupJw_Dkx6mNx{
  background: var(--muted-color);
  color: var(--text-color);
}
.LunqxlFIupJw_Dkx6mNx:hover,
.LunqxlFIupJw_Dkx6mNx[data-context-menu-open=true]{
  background: var(--muted-color-hover);
}
.LunqxlFIupJw_Dkx6mNx .g4PZpjkqEh5g7xDpCr2K{
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: none;
}
.LunqxlFIupJw_Dkx6mNx .izoFkw{
  color: inherit;
}
.LunqxlFIupJw_Dkx6mNx:hover a.Nqa6Cw3RkDMV8QnYreTr{
  color: var(--primary-color);
}
.Kcb74zm1aMqGfPxTwO5s,
.LunqxlFIupJw_Dkx6mNx .woJQ5t2YiaJhjTv_KE7p{
  box-shadow: 0 5px 8px rgba(0,0,0, 0.2) !important;
}
.LunqxlFIupJw_Dkx6mNx .dvSMET{
  color: var(--text-color-muted);
}
.LunqxlFIupJw_Dkx6mNx .dvSMET a{
  color: var(--text-color);
}

.Root__now-playing-bar{

}