:root {
  --background-color: #fff;
  --text-color: #333;
  --border-color: #e5e5e5;
  --primary-color: #19ce5c;
  --primary-hover-color: #058132;
  --muted-color: #f5f5f5;
  --muted-hover-color: #caffde;
}